<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/main.css">
   
    <link     
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" 
      rel="stylesheet"
      />
      <script> src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"</script>
      <title>Portfolio</title>
  </head>
  <body>
    <div class="frame">
      <div class="main_frame">
        <!--chap ramkasi-->
        <div class="left_frame">
          <!--chap ramka_1-->
          <div class="left_1">
            <div class="left_1-1">
              <img src="images/profile.png" width="156px" height="142px" alt=""
              />
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left_1-icons">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector.svg" class="icon-1"/>
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-1.svg" class="icon-1"/>
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-2.svg" class="icon-1"/>
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-3.svg" class="icon-1"/>
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-4.svg" class="icon-1"/>
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Vector-5.svg" class="icon-1"/>
                </div>
              </a>
            </div>
          </div>

          <!--/chap ramka_1-->
          <div class="margin"></div>

          <!--chap ramka_2-->
          <div class="left_2">
           <!--chap ramka_2_1-->
            <div class="left_2_1">
              <div class="left_2_1_item">
                <div class="child-1">Age:</div>
                 <div><%=user.age%> </div> 
              </div>    
            </div>

             <!--/chap ramka_2_1-->

              <!--chap ramka_2_2-->  
            <div class="left_2_1">
              <div class="left_2_1_item">
                <div class="child-1">Residance:</div>
                  <div><%=user.residance%> </div> 
              </div>    
            </div>
             <!--/chap ramka_2_2-->

            <div class="left_2_1">
              <div class="left_2_1_item">
                <div class="child-1">Freelance:</div>
                 <div style="color: rgb(15, 59, 59);">Available </div> 
              </div>    
            </div>

            <div class="left_2_1">
             <div class="left_2_1_item">
              <div class="child-1">Adress</div>
               <div><%=user.address%> </div> 
             </div>    
            </div>
          </div>
          <!--/chap ramka_2-->

          <div class="margin"></div>
           <!--chap ramka_3-->
          <div class="left_3">
            <h5>Languages</h5>
            <div>
              <div class="left_2_1_item">
                <div>Uzbek</div>
                <div>100%</div>
              </div>
              <div><img src="icon/100.svg"/></div>
            </div>
            

            <div>
              <div class="left_2_1_item">
                <div>Korean</div>
                <div>80%</div>
              </div>
              <div><img src="icon/80.svg"/></div>
            </div>
            

            <div>
              <div class="left_2_1_item">
                <div>English</div>
                <div>60%</div>
              </div>
              <div><img src="icon/60.svg"/></div> 
            </div>
              
          </div>
           <!--/chap ramka_3-->
          <div class="margin"></div>
           <!--chap ramka_4-->
          <div class="left_4">
            <h5>Skils</h5>
            <div>
              <div class="left_2_1_item">
                <div>Html</div>
                <div>90%</div>
              </div>
              <div><img src="icon/90.svg"/></div> 
            </div>

            <div>
              <div class="left_2_1_item">
                <div>CSS</div>
                <div>85%</div>
              </div>
              <div><img src="icon/85.svg"/></div> 
            </div>

            <div>
              <div class="left_2_1_item">
                <div>Js</div>
                <div>80%</div>
              </div>
              <div><img src="icon/80.svg"/></div> 
            </div>

            <div>
              <div class="left_2_1_item">
                <div>Node Js</div>
                <div>75%</div>
              </div>
              <div><img src="icon/75.svg"/></div> 
            </div>

            <div>
              <div class="left_2_1_item">
                <div>Wordpres</div>
                <div>85%</div>
              </div>
              <div><img src="icon/85.svg"/></div> 
            </div>

          </div>
           <!--/chap ramka_4-->
          <div class="margin"></div>
           <!--chap ramka_5-->
          <div class="left_5">
            <div class="left_5_1">
              <div class="left_5_1_item">
                <div><img src="icon/Icons.svg"/></div>
                <p>Botostrap, Materialize</p>
              </div>
            </div>
            <div class="left_5_1">
              <div class="left_5_1_item">
                <div><img src="icon/Icons.svg"/></div>
                <p>Stylus, Sass, Less</p>
              </div>
            </div>
            <div class="left_5_1">
              <div class="left_5_1_item">
                <div><img src="icon/Icons.svg"/></div>
                <p>Gulp, Webparck, Grunt</p>
              </div>
            </div>
            <div class="left_5_1">
              <div class="left_5_1_item">
                <div><img src="icon/Icons.svg"/></div>
                <p>Git Knowledge</p>
              </div>
            </div>

          </div>
           <!--/chap ramka_5-->
          <div class="margin"></div>
        </div>
        <!--/ chap ramkasi-->
        <!--orta ramkasi-->
        <div class="midd_frame">
          <!--tepa ramka-->
          <div class="midd_frame_top">
            <div class="midd_frame_top_left">
              <div class="midd_frame_top_left_1">
                <p>Doctor neurologists</p>
                <p>in OHSU Hospital</p>
              </div>
              <div class="midd_frame_top_left_2">
                <p class="avout_me"><%=user.about_me%></p> 
              </div>
              <div class="midd_frame_top_left_3">
                <img src="icon/book.svg"/>

              </div>
            </div>
            <div class="midd_frame_top_right">
              <img src="icon/rasm.svg"/>

            </div>


          </div>
          <!--past ramka-->
          <div class="midd_frame_bot">
            <div class="midd_bot_ser">My Services</div>           
              <div class="midd_bot_val">Amet minim mollit non deserunt ullamcoest sit aliqua dolor<br> do amet sint sint. Velit officia consequat duis enim velit mollit .<br> lorem ipsum
            </div>
            <div class="cards">


              <div class="card">
                <div class="card-icon"><img src="icon/1.svg"alt=""></div>
                <div class="card-h-text">web development</div>
                <div class="card-text">blog, e-commerce</div>
              </div>
              
              <div class="card">
                <div class="card-icon"><img src="icon/2.svg"alt=""></div>
                <div class="card-h-text">uI/uX design</div>
                <div class="card-text">Mobile app, website design</div>
              </div>
              
              <div class="card">
                <div class="card-icon"><img src="icon/3.svg"alt=""></div>
                <div class="card-h-text">sound design</div>
                <div class="card-text">Volce Over, Beat Marking</div>
              </div>
              
              <div class="card">
                <div class="card-icon"><img src="icon/4.svg"alt=""></div>
                <div class="card-h-text">game design</div>
                <div class="card-text">Charcter Design,Props & Objects</div>
              </div>
              
              <div class="card">
                <div class="card-icon"><img src="icon/5.svg"alt=""></div>
                <div class="card-h-text">photography</div>
                <div class="card-text">portrait, product photograpgy</div>
              </div>
              
              <div class="card">
                <div class="card-icon"><img src="icon/6.svg"alt=""></div>
                <div class="card-h-text">Advertising</div>
                <div class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi. </div>
              </div>
              

            </div>

          </div>


        </div>
        <!--/ orta ramkasi-->
      <!--ong ramkasi-->
        <div class="right_frame"></div>

        <!--/ong ramkasi-->
      </div>

    </div>
  </body>
</html>